# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
venv/
env/

# Base de dados local
instance/*.db

# Arquivos de uploads de usuários (anexos locais)
instance/uploads/

# Arquivos de texto temporários ou backups que não devem ir para o repositório
TXT/
arquivos dvs analisar/